use_default_settings: true

search:
  formats:
    - html
    - json

server:
  secret_key: "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0u1v2w3x4y5z6" # Replace with whatever you want, you use this locally, or simply leave like this
  limiter: false
  image_proxy: false
